*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom,
    #009688 15%,#D8DBD6 15% 85% );
}
#root{
    display:flex;
    height:calc(100% - 40px);
    width:80%;
    margin: 20px auto;
    background-color: white;
}
#section-left{
    width:35%;
    background-color: white;
    border-right: 1px solid #dddbdb ;
}
.user-name{
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
}
.avatar-img{
    display: flex;
    align-items: center;
    width:50%;
    padding: 8px 15px;
}
.avatar{
    height:100%;
    border-radius: 50%;
}
.avatar-img > h4{
   padding: 0px 5px;
}
.functions{
    width:50%;
    line-height: 70px;
    padding: 0 10px;
    text-align:right ;
}
.functions > i {
    cursor: pointer;
    vertical-align: middle;
    color:#B1B1B1;
    font-size: 22px;
    padding:0 10px;
}
#notifications{
    display: flex;
    align-items: center;
    padding:15px 20px;
    height: 80px;
    background-color: #8EDAFC;
}
#notifications > .fa-bell-slash{
    padding: 12px 10px;
    border-radius: 50%;
    font-size: 20px;
    color:#8EDAFC;
    background-color: #F2FBFF;
}
#notifications > div{
    padding:0px 10px;
    letter-spacing: 0.4px;
}
#notifications > div >  h5 {
    text-decoration: underline;
    color:#6395AB;
}
#search{
    position:relative;
}
#search .fa-search{
    color:#B1B1B1;
    position:absolute;
    left:18px;
    bottom:20px;
}
#search input{
    width:calc(100% - 10px);
    border:1px solid #dddbdb;
    border-radius: 20px;
    margin:10px 5px;
    padding:10px 50px;
}
#contacts{
    height:calc(100% - 207px);
    overflow-y: scroll;
}
.contact{
    cursor: pointer;
    display: flex;
    height:80px;
    padding: 10px 15px;
    border-top:1px solid #dddbdb;
    
}
.no-visible{
    display: none;
}
.contact > .info{
    padding:0 10px;
    width:60%;
}
.info h3{
    font-size:16px;
    font-weight: 300;
}
.info h5{
    font-weight: 200;
    color:#BFC4C6;
}
.contact-active{
    background-color: #E9EBEB;
}
#section-right{
    width:75%;
    display: flex;
    flex-direction: column;
}
#insert-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F3EEEA;
    padding:0px 10px;
    height:60px;
}
#insert-text > input {
    padding:15px 10px;
    border:1px solid #dddbdb;
    border-radius: 20px;
    width:80%;
}
#insert-text > i,
#insert-text > div{
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    color:#6B7376;
    
}
#insert-text  i{
    padding:8px; 
}
#chat-now{
    height:calc(100% - 130px);
    padding:40px 60px;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}
.message-sent{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.message-received{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text{
    position:relative;
    padding:18px 10px;
    margin:5px;
    border-radius: 10px;
}
.data-ora{
    padding:5px;
    color:#BFC4C6;
    position:absolute;
    bottom:0;
    right:0;
}
.sent{
    width:50%;
    background-color: #D5F9BA;
}
.received{
    width:50%;
    background-color: #FFFFFF;
}

