*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.wrapper{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    padding:20px;
    background: linear-gradient(to bottom,
    #009688 15%,#D8DBD6 15% 85% ); 
}
.wrapper-dark{
    background: linear-gradient(to bottom,
    #009688 15%,black 15% 85% );
}
.container{
    display:flex;
    height:calc(100% - 40px);
    width:80%;
    margin: 0px auto;
    background-color: white;
}
.section-left{
    width:35%;
    background-color: white;
    border-right: 1px solid #dddbdb ;
}
.section-dark{
    background-color: #313131;
    color:white;
}

.user-name{
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
}
.user-name-dark{
    background-color:#313131;
    color:whitesmoke;
}
.avatar-img{
    display: flex;
    align-items: center;
    width:50%;
    padding: 8px 15px;
}
.avatar{
    height:100%;
    border-radius: 50%;
}
.avatar-img > h4{
   padding: 0px 5px;
}
.functions{
    width:50%;
    line-height: 70px;
    padding: 0 10px;
    text-align:right ;
}
.functions > i {
    cursor: pointer;
    vertical-align: middle;
    color:#B1B1B1;
    font-size: 22px;
    padding:0 10px;
}
.notifications{
    display: flex;
    align-items: center;
    padding:15px 20px;
    height: 80px;
    background-color: #8EDAFC;
}
.notifications-dark {
    background-color: rgb(197, 172, 32);
    color: white;
}
.notifications-dark > .fa-bell-slash{
    color:rgb(197, 172, 32);
}
.notifications   .fa-bell-slash{
    padding: 12px 10px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #F2FBFF;
}
.notifications  div{
    padding:0px 10px;
    letter-spacing: 0.4px;
}
.notifications  div >  h5 {
    text-decoration: underline;
    color:#6395AB;
}
#search{
    position:relative;
}
#search .fa-search{
    color:#B1B1B1;
    position:absolute;
    left:18px;
    bottom:20px;
}
#search input{
    width:calc(100% - 10px);
    border:1px solid #dddbdb;
    border-radius: 20px;
    margin:10px 5px;
    padding:10px 50px;
}
#contacts{
    height:calc(100% - 207px);
    overflow-y: scroll;
}
.contact{
    cursor: pointer;
    display: flex;
    height:80px;
    padding: 10px 15px;
    border-top:1px solid #dddbdb;
    
}
.no-visible{
    display: none;
}
.contact > .info{
    padding:0 10px;
    width:60%;
}
.info h3{
    font-size:16px;
    font-weight: 300;
}
.info h5{
    font-weight: 200;
    color:#BFC4C6;
}
.contact-active{
    background-color: #E9EBEB;
}
.contact-active-dark{
    background-color: black;
}
.section-right{
    width:75%;
    display: flex;
    flex-direction: column;
}
.insert-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F3EEEA;
    padding:0px 10px;
    height:60px;
}
.insert-text-dark{
    background-color: #313131;
}
.insert-text  input {
    padding:15px 10px;
    border:1px solid #dddbdb;
    border-radius: 20px;
    width:80%;
}
.insert-text  i,
.insert-text  div{
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    color:#6B7376;
    
}
.insert-text  i{
    padding:8px; 
}
.chat-now{
    height:calc(100% - 130px);
    padding:40px 60px;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}
.chat-dark{
    background-image: url(../img/minedark.jpg);
}
.message-sent{
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
}
.message-received{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    padding:20px 15px;
    font-size: 20px;
    margin:2px; 
    cursor: pointer;
    border-radius:10px;
}
.text  i{ 
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color:#6B7376;
}

.dropdown {
    position: absolute;
    top:60px;
    right:0;
    bottom: auto;
    width: 166px;
    margin-top: 3px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);    
    z-index: 1;
}
.dropdown-content {
    display: flex;
    flex-direction: column;
}
.dropdown-content span {    
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.dropdown-content span:hover {
    color: rgb(0, 0, 0);
}

.data-ora{
    padding:5px;
    color:#BFC4C6;
    position:absolute;
    bottom:0;
    right:0;
}
.sent{
    width:50%; 
    background-color: #D5F9BA;
}
.sent-dark{
    color:white;
    background-color: #009688;
}
.received{
    width:50%;
    background-color: #FFFFFF;
}
.received-dark{
    color:white;
    background-color:#313131 ;
}

