<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll/dist/vue-chat-scroll.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>BoolzApp</title>
        <link rel="shortcut icon" type="image/jpg" href="img/whatsa.jpg"/>

    </head>
    <body>
       <div id="root">
           <div id="section-left">
               <div class="user-name">
                    <div class="avatar-img">
                        <img class="avatar" src="img/avatar_io.jpg" alt="io">
                        <h4>Alessandra Schiavone</h4>
                    </div>
                    <div class="functions">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>                    
                    </div>
               </div>
               <div id="notifications">
                <i class="fas fa-bell-slash" ></i>
                    <div>
                       <h4>Ricevi notifiche di nuovi messaggi</h4>  
                       <h5>Attiva notifiche desktop</h5>
                    </div>
               </div>
               <div id="search">
                    <i class="fas fa-search"></i>
                   <input type="text"  placeholder="Cerca o inizia una nuova chat" v-model="search" @keydown.enter = "chatContact()"> 
               </div>
               <div id="contacts">
                <div v-for="(contact, index) in contacts" class="contact"
                :class="{
                    'contact-active': index == activeIndex,
                    'no-visible' : contact.visible == 'false'
                }
                "
                @click="setActive(index)">
                        <img class="avatar " :src="getImage(index)" alt="">
                        <div class="info">
                            <h3>{{ contact.name }}</h3>
                            <h5>{{ getLastMex(contact) }}</h5>
                        </div>
                       <div>
                            <h5>{{ getLastDate(contact) }}</h5>
                       </div>
                   </div>
               </div>
           </div>
           <div id="section-right">
             <div class="user-name">
                <div class="avatar-img">
                    <img class="avatar" :src="getImage(activeIndex)" alt="">
                    <div class="info">
                        <h3>{{ contacts[activeIndex].name }}</h3>
                        <h5>Ultimo accesso alle {{ getLastDateAccess(contacts[activeIndex]) }} </h5>
                    </div>       
                </div>
                <div class="functions">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-ellipsis-v"></i>                    
                </div>
             </div>
             <div id="chat-now" v-chat-scroll>
                <div v-for= "message in contacts[activeIndex].messages"
                :class="(message.status == 'sent') ? 'message-sent' : 'message-received' "> 
                    <div :class="(message.status == 'sent') ? 'sent' : 'received' "
                    class="text" >
                        <p>{{ message.text }}</p>
                        <h6 class="data-ora">
                            {{ message.date }}
                        </h6>
                    </div>
                </div>
             </div>
             <div id="insert-text">
                <div>
                    <i class="far fa-smile"></i>
                    <i class="fas fa-paperclip"></i>
                </div>
                
                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage.text" @keydown.enter = "addNewMessage(contacts[activeIndex])" >
                <i class="fas fa-microphone"></i>
             </div>
           </div>
    <script src="js/script.js"></script>
    </body>
</html>